  <!-- navbar -->
  <div data-ng-include=" 'js/app/common/template/header.html' " class="app-header navbar">
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include=" 'js/app/common/template/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
  </div>
  <!-- / menu -->
  <div ng-controller="DashboardController"></div>
  <!-- content -->
  <div class="app-content">
    <div class="col-md-8">
      <div class="upcoming-wedding-title">Upcoming weddings</div>
      <div class="upcoming-wedding-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis luctus nulla. Praesent sit amet tempus risus, ac fringilla ante.</div>
    </div>
    <div class="col-md-4 b-b bg-white">
      b
    </div>
  </div>
  <!-- /content -->
  <!-- footer -->
  <div footer-block></div>
  <!-- / footer -->
  </div>
