<!-- navbar -->
<div data-ng-include=" 'js/app/common/template/header.html' " class="app-header navbar">
</div>
<!-- / navbar -->

<!-- menu -->
<div data-ng-include=" 'js/app/common/template/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
</div>
<!-- / menu -->


<!-- content -->
<div class="app-content">
    <div class="col-md-12" ng-controller="ClassificationModelsController">
        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                <div style="background-color:white;padding:10px;">
                Classification models
                <hr />
                Model type:
                <select ng-model="indexRequest.category">
                    <option value="{{category}}" ng-repeat="category in categories">{{category}}</option>
                </select> <br />

                    <table class="table table-striped m-b-none">
                        <thead>
                        <tr>
                            <th style="width:50px">-</th>
                            <th>Category</th>
                            <th>Feature</th>
                            <th>Photo stats</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="batch in indexBatches">
                            <td><label class="i-checks m-b-none"><input type="checkbox" name="requestIndexBatches" value="{{batch.id}}"><i></i></label></td>
                            <td>{{batch.photoIndexRequest.category}}</td>
                            <td>{{batch.photoIndexRequest.feature}}</td>
                            <td>{{batch.ratedPhotos}} / {{batch.totalPhotos}}</td>
                            <td>{{batch.date | date:"MM/dd/yyyy '-' h:mma"}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br />
                    <button class="btn btn-success" style="width:100%" ng-click="submitModelRequest(indexRequest)">Create new model</button>
                    <br />
                    <br />
                </div>
                <hr />
                Existing models
            </div>
            <div class="panel-body">
                <table class="table table-striped m-b-none">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Category</th>
                        <th>Date created</th>
                        <th>Date trained</th>
                        <th>Data count</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="model in models">
                        <td><a href="#/classification-model/{{model.id}}">{{model.id}}</a></td>
                        <td>{{model.photoCategory}}</td>
                        <td>{{model.date | date:"MM/dd/yyyy '-' h:mma"}}</td>
                        <td>{{model.trainedDate | date:"MM/dd/yyyy '-' h:mma"}}</td>
                        <td>{{model.dataCount}}</td>
                        <td><button class="btn btn-danger" ng-click="deleteModel(model.id)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /content -->
<!-- footer -->
<div footer-block></div>
<!-- / footer -->
</div>
